ORACLE_PRIVATE_KEY=your_oracle_private_key_here
BASE_SEPOLIA_RPC=https://sepolia.base.org
CONTRACT_ADDRESS=deployed_ambermarket_address_here
JUNCTION_REGISTRY_ADDRESS=deployed_junction_registry_address_here
PORT=3001
YOUTUBE_STREAM_URL=https://www.youtube.com/watch?v=ydYDqZQpim8
PLATFORM_FEE_BPS=300
