ORACLE_PRIVATE_KEY=your_oracle_private_key_here
BASE_SEPOLIA_RPC=https://sepolia.base.org
ETH_MAINNET_RPC=https://ethereum-rpc.publicnode.com
ENS_PARENT_NAME=ambermarket.eth
NAMESPACE_API_KEY=
CONTRACT_ADDRESS=deployed_ambermarket_address_here
AMBER_TOKEN_ADDRESS=deployed_ambertoken_address_here
JUNCTION_NFT_ADDRESS=deployed_amberjunctionnft_address_here
JUNCTION_REGISTRY_ADDRESS=deployed_junction_registry_address_here
PORT=3001
YOUTUBE_STREAM_URL=https://www.youtube.com/watch?v=ydYDqZQpim8
PLATFORM_FEE_BPS=300
